* text=auto !eol
AnimView/CMakeLists.txt -text
CorsixTH/Bitmap/aux_ui.dat -text svneol=unset#unset
CorsixTH/Bitmap/aux_ui.spec -text
CorsixTH/Bitmap/aux_ui.tab -text
CorsixTH/Bitmap/build_room_dialog_close.bmp -text
CorsixTH/Bitmap/flag_buildable.bmp -text
CorsixTH/Bitmap/flag_hospital.bmp -text
CorsixTH/Bitmap/flag_passable.bmp -text
CorsixTH/Bitmap/flag_travel_east.bmp -text
CorsixTH/Bitmap/flag_travel_north.bmp -text
CorsixTH/Bitmap/flag_travel_south.bmp -text
CorsixTH/Bitmap/flag_travel_west.bmp -text
CorsixTH/Bitmap/fullscreen_border_bottom.bmp -text
CorsixTH/Bitmap/fullscreen_border_bottomleft.bmp -text
CorsixTH/Bitmap/fullscreen_border_bottomright.bmp -text
CorsixTH/Bitmap/fullscreen_border_left.bmp -text
CorsixTH/Bitmap/fullscreen_border_right.bmp -text
CorsixTH/Bitmap/fullscreen_border_top.bmp -text
CorsixTH/Bitmap/fullscreen_border_topleft.bmp -text
CorsixTH/Bitmap/fullscreen_border_topright.bmp -text
CorsixTH/Bitmap/map_cell_outline.bmp -text
CorsixTH/Bitmap/mkraw.lua -text
CorsixTH/Bitmap/mksheet.lua -text
CorsixTH/CorsixTH.aps -text
CorsixTH/CorsixTH.deproj -text
CorsixTH/CorsixTH.ico -text
CorsixTH/CorsixTH.lua -text
CorsixTH/CorsixTH.rc -text
CorsixTH/Lua/diagnosis/diag_general_diag.lua -text
CorsixTH/Lua/diagnosis/diag_ultrascan.lua -text
CorsixTH/Lua/diagnosis/diag_x_ray.lua -text
CorsixTH/Lua/dialogs/bank_manager.lua -text
CorsixTH/Lua/dialogs/information.lua -text
CorsixTH/Lua/dialogs/staff_management.lua -text
CorsixTH/Lua/objects/helicopter.lua -text
CorsixTH/Lua/persistance.lua -text
CorsixTH/Lua/walls/blue.lua -text
CorsixTH/Lua/walls/external.lua -text
CorsixTH/Lua/walls/green.lua -text
CorsixTH/Lua/walls/white.lua -text
CorsixTH/Lua/walls/yellow.lua -text
CorsixTH/SDLMain/CMakeLists.txt -text
CorsixTH/SDLMain/SDLMain.m -text
CorsixTH/Src/lua.hpp -text
CorsixTH/__MACOSX/SDLMain/._SDLMain.m -text
CorsixTH/changelog.txt -text
LDocGen/c_tokenise.lua -text
LDocGen/helpers.lua -text
LDocGen/main.lua -text
LDocGen/output/corner_right.gif -text
LDocGen/output/logo.png -text
LDocGen/output/main.css -text
LDocGen/templates/class.htlua -text
LDocGen/templates/class_inheritance.htlua -text
LDocGen/templates/lua_class_hierarchy.htlua -text
LDocGen/templates/lua_class_index.htlua -text
LDocGen/templates/lua_class_list.htlua -text
LDocGen/templates/lua_class_tree.htlua -text
LDocGen/templates/page.htlua -text
LFS/lfs.def -text
MapEdit/CMakeLists.txt -text
MapEdit/FindwxWidgets_svn.cmake -text
WindowsInstaller/LanguageStrings.nsh -text
WindowsInstaller/ReplaceInFile.nsh -text
WindowsInstaller/StrRep.nsh -text
WindowsInstaller/Win32Script.nsi -text
WindowsInstaller/config_template.txt -text
WindowsInstaller/readme.txt -text
