* text=auto !eol
AnimView/AnimView.vcproj eol=crlf
/CorsixTH.sln eol=crlf
/CorsixTH.suo -text
CorsixTH/AnimView.exe -text
CorsixTH/Bitmap/aux_ui.dat -text svneol=unset#unset
CorsixTH/Bitmap/aux_ui.spec -text
CorsixTH/Bitmap/aux_ui.tab -text
CorsixTH/Bitmap/build_room_dialog_close.bmp -text
CorsixTH/Bitmap/flag_buildable.bmp -text
CorsixTH/Bitmap/flag_hospital.bmp -text
CorsixTH/Bitmap/flag_passable.bmp -text
CorsixTH/Bitmap/flag_travel_east.bmp -text
CorsixTH/Bitmap/flag_travel_north.bmp -text
CorsixTH/Bitmap/flag_travel_south.bmp -text
CorsixTH/Bitmap/flag_travel_west.bmp -text
CorsixTH/Bitmap/map_cell_outline.bmp -text
CorsixTH/Bitmap/mksheet.lua -text
CorsixTH/CorsixTH.aps -text
CorsixTH/CorsixTH.deproj -text
CorsixTH/CorsixTH.exe -text
CorsixTH/CorsixTH.ico -text
CorsixTH/CorsixTH.lua -text
CorsixTH/CorsixTH.rc -text
CorsixTH/CorsixTH.vcproj eol=crlf
CorsixTH/Lua/app.lua -text
CorsixTH/Lua/audio.lua -text
CorsixTH/Lua/class.lua -text
CorsixTH/Lua/dialogs/bottom_panel.lua -text
CorsixTH/Lua/dialogs/build_room.lua -text
CorsixTH/Lua/dialogs/edit_room.lua -text
CorsixTH/Lua/dialogs/furnish_corridor.lua -text
CorsixTH/Lua/dialogs/jukebox.lua -text
CorsixTH/Lua/dialogs/menu.lua -text
CorsixTH/Lua/dialogs/patient.lua -text
CorsixTH/Lua/dialogs/place_objects.lua -text
CorsixTH/Lua/entity.lua -text
CorsixTH/Lua/graphics.lua -text
CorsixTH/Lua/humanoid.lua -text
CorsixTH/Lua/map.lua -text
CorsixTH/Lua/object.lua -text
CorsixTH/Lua/objects/bench.lua -text
CorsixTH/Lua/objects/door.lua -text
CorsixTH/Lua/objects/drinks_machine.lua -text
CorsixTH/Lua/objects/fire_extinguisher.lua -text
CorsixTH/Lua/objects/plant.lua -text
CorsixTH/Lua/objects/radiator.lua -text
CorsixTH/Lua/objects/reception_desk.lua -text
CorsixTH/Lua/rooms/general_diag.lua -text
CorsixTH/Lua/rooms/gp.lua -text
CorsixTH/Lua/rooms/inflation.lua -text
CorsixTH/Lua/rooms/pharmacy.lua -text
CorsixTH/Lua/rooms/psych.lua -text
CorsixTH/Lua/rooms/staff_room.lua -text
CorsixTH/Lua/rooms/toilets.lua -text
CorsixTH/Lua/rooms/ward.lua -text
CorsixTH/Lua/strict.lua -text
CorsixTH/Lua/ui.lua -text
CorsixTH/Lua/walls/blue.lua -text
CorsixTH/Lua/walls/external.lua -text
CorsixTH/Lua/walls/green.lua -text
CorsixTH/Lua/walls/white.lua -text
CorsixTH/Lua/walls/yellow.lua -text
CorsixTH/Lua/window.lua -text
CorsixTH/Lua/world.lua -text
CorsixTH/Microsoft.VC90.CRT.manifest -text
CorsixTH/SDL.dll -text
CorsixTH/SDL_mixer.dll -text
CorsixTH/Src/lua.hpp -text
CorsixTH/lua5.1.dll -text
CorsixTH/msvcp90.dll -text
CorsixTH/msvcr90.dll -text
LFS/lfs.def -text
