* text=auto !eol
AnimView/AnimView.ico -text
AnimView/AnimView.rc -text
AnimView/CMakeLists.txt -text
AnimView/VSPR-0.xml -text
AnimView/tinystr.cpp -text
AnimView/tinystr.h -text
AnimView/tinyxml.cpp -text
AnimView/tinyxml.h -text
AnimView/tinyxmlerror.cpp -text
AnimView/tinyxmlparser.cpp -text
CorsixTH/Bitmap/aux_ui.dat -text svneol=unset#unset
CorsixTH/Bitmap/aux_ui.spec -text
CorsixTH/Bitmap/aux_ui.tab -text
CorsixTH/Bitmap/bootstrap_font.bmp -text
CorsixTH/Bitmap/bootstrap_font.dat -text svneol=unset#application/octet-stream
CorsixTH/Bitmap/bootstrap_font.pal -text
CorsixTH/Bitmap/bootstrap_font.tab -text
CorsixTH/Bitmap/build_room_dialog_close.bmp -text
CorsixTH/Bitmap/flag_buildable.bmp -text
CorsixTH/Bitmap/flag_hospital.bmp -text
CorsixTH/Bitmap/flag_passable.bmp -text
CorsixTH/Bitmap/flag_travel_east.bmp -text
CorsixTH/Bitmap/flag_travel_north.bmp -text
CorsixTH/Bitmap/flag_travel_south.bmp -text
CorsixTH/Bitmap/flag_travel_west.bmp -text
CorsixTH/Bitmap/flags32.png -text
CorsixTH/Bitmap/fullscreen_border_bottom.bmp -text
CorsixTH/Bitmap/fullscreen_border_bottomleft.bmp -text
CorsixTH/Bitmap/fullscreen_border_bottomright.bmp -text
CorsixTH/Bitmap/fullscreen_border_left.bmp -text
CorsixTH/Bitmap/fullscreen_border_right.bmp -text
CorsixTH/Bitmap/fullscreen_border_top.bmp -text
CorsixTH/Bitmap/fullscreen_border_topleft.bmp -text
CorsixTH/Bitmap/fullscreen_border_topright.bmp -text
CorsixTH/Bitmap/lib_bmp.lua -text
CorsixTH/Bitmap/lib_spritesheet.lua -text
CorsixTH/Bitmap/mainmenu1080.bmp -text
CorsixTH/Bitmap/mainmenu1080.dat -text svneol=unset#application/octet-stream
CorsixTH/Bitmap/mainmenu1080.pal -text
CorsixTH/Bitmap/map_cell_outline.bmp -text
CorsixTH/Bitmap/map_cell_outline_east.bmp -text
CorsixTH/Bitmap/map_cell_outline_north.bmp -text
CorsixTH/Bitmap/map_cell_outline_south.bmp -text
CorsixTH/Bitmap/map_cell_outline_west.bmp -text
CorsixTH/Bitmap/mkbootstrap.lua -text
CorsixTH/Bitmap/mkfont.lua -text
CorsixTH/Bitmap/new32.png -text svneol=unset#image/png
CorsixTH/Bitmap/open32.png -text svneol=unset#image/png
CorsixTH/Bitmap/parcels32.png -text
CorsixTH/Bitmap/positions32.png -text
CorsixTH/Bitmap/save32.png -text svneol=unset#image/png
CorsixTH/Bitmap/transparent_walls32.png -text
CorsixTH/Bitmap/tree_collapsed.bmp -text
CorsixTH/Bitmap/tree_ctrl.dat -text
CorsixTH/Bitmap/tree_ctrl.pal -text
CorsixTH/Bitmap/tree_ctrl.spec -text
CorsixTH/Bitmap/tree_ctrl.tab -text
CorsixTH/Bitmap/tree_expanded.bmp -text
CorsixTH/Bitmap/tree_leaf.bmp -text
CorsixTH/Bitmap/tree_level.bmp -text
CorsixTH/CorsixTH.aps -text
CorsixTH/CorsixTH.deproj -text
CorsixTH/CorsixTH.ico -text
CorsixTH/CorsixTH.lua -text
CorsixTH/CorsixTH.rc -text
CorsixTH/Icon.icns -text
CorsixTH/Levels/Example.map -text
CorsixTH/Levels/avatar.level -text
CorsixTH/Levels/avatar.map -text
CorsixTH/Levels/demo.level -text
CorsixTH/Levels/example.level -text
CorsixTH/Levels/original05.level -text
CorsixTH/Levels/original07.level -text
CorsixTH/Levels/original11.level -text
CorsixTH/Levels/original12.level -text
CorsixTH/Lua/dialogs/fullscreen/annual_report.lua -text
CorsixTH/Lua/dialogs/fullscreen/graphs.lua -text
CorsixTH/Lua/dialogs/resizables/calls_dispatcher.lua -text
CorsixTH/Lua/dialogs/resizables/file_browser.lua -text
CorsixTH/Lua/dialogs/resizables/new_game.lua -text
CorsixTH/Lua/diseases/broken_heart.lua -text
CorsixTH/Lua/diseases/golf_stones.lua -text
CorsixTH/Lua/diseases/iron_lungs.lua -text
CorsixTH/Lua/diseases/kidney_beans.lua -text
CorsixTH/Lua/diseases/pregnant.lua -text
CorsixTH/Lua/diseases/ruptured_nodules.lua -text
CorsixTH/Lua/diseases/spare_ribs.lua -text
CorsixTH/Lua/diseases/unexpected_swelling.lua -text
CorsixTH/Lua/entities/vip.lua -text
CorsixTH/Lua/humanoid_actions/check_watch.lua -text
CorsixTH/Lua/humanoid_actions/falling.lua -text
CorsixTH/Lua/humanoid_actions/get_up.lua -text
CorsixTH/Lua/humanoid_actions/on_ground.lua -text
CorsixTH/Lua/humanoid_actions/pee.lua -text
CorsixTH/Lua/humanoid_actions/shake_fist.lua -text
CorsixTH/Lua/humanoid_actions/sweep_floor.lua -text
CorsixTH/Lua/humanoid_actions/tap_foot.lua -text
CorsixTH/Lua/humanoid_actions/vip_go_to_next_room.lua -text
CorsixTH/Lua/humanoid_actions/vomit.lua -text
CorsixTH/Lua/humanoid_actions/yawn.lua -text
CorsixTH/Lua/languages/czech.lua -text
CorsixTH/Lua/languages/polish.lua -text
CorsixTH/Lua/languages/russian.lua -text
CorsixTH/Lua/objects/radiation_shield_b.lua -text
CorsixTH/Lua/research_department.lua -text
CorsixTH/Lua/rooms/operating_theatre.lua -text
CorsixTH/Original_Logo.svg -text
CorsixTH/Original_Logo_Text.svg -text
CorsixTH/SDLMain/CMakeLists.txt -text
CorsixTH/SDLMain/SDLMain.m -text
CorsixTH/__MACOSX/SDLMain/._SDLMain.m -text
CorsixTH/changelog.txt -text
DebianPackage/control -text
DebianPackage/debian-binary -text
DebianPackage/postinst -text
DebianPackage/prerm -text
DebianPackage/readme.txt -text
DebianPackage/usr/games/CorsixTH -text
DebianPackage/usr/share/applications/CorsixTH.desktop -text
DebianPackage/usr/share/applications/MapEdit.desktop -text
DebianPackage/usr/share/doc/corsix-th/copyright -text
LDocGen/c_tokenise.lua -text
LDocGen/helpers.lua -text
LDocGen/main.lua -text
LDocGen/output/corner_right.gif -text
LDocGen/output/logo.png -text
LDocGen/output/main.css -text
LDocGen/templates/class.htlua -text
LDocGen/templates/class_inheritance.htlua -text
LDocGen/templates/lua_class_hierarchy.htlua -text
LDocGen/templates/lua_class_index.htlua -text
LDocGen/templates/lua_class_list.htlua -text
LDocGen/templates/lua_class_tree.htlua -text
LDocGen/templates/lua_file_hierarchy.htlua -text
LDocGen/templates/lua_file_tree.htlua -text
LDocGen/templates/page.htlua -text
LFS/lfs.def -text
LPEG/lpeg-128.gif -text
LPEG/lpeg.html -text
MapEdit/CMakeLists.txt -text
MapEdit/MapEdit.ico -text
MapEdit/MapEdit.rc -text
TestProcedure/Saves/issue[!!-~]1119.sav -text
TestProcedure/Saves/test-save-beta8.sav -text
TestProcedure/procedure.txt -text
WindowsInstaller/LanguageStrings.nsh -text
WindowsInstaller/OptionsPage.ini -text
WindowsInstaller/ReplaceInFile.nsh -text
WindowsInstaller/StrRep.nsh -text
WindowsInstaller/Win32Script.nsi -text
WindowsInstaller/config_template.txt -text
WindowsInstaller/readme.txt -text
WindowsInstaller/welcome.bmp -text
agg/authors -text
agg/copying -text
agg/news -text
agg/src/authors -text
agg/src/copying -text
agg/src/install -text
agg/src/news -text
