AnimView/CMakeCache.txt
AnimView/CMakeFiles
AnimView/Makefile
AnimView/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles
CorsixTH/CMakeCache.txt
CorsixTH/CMakeFiles
CorsixTH/Makefile
CorsixTH/Src/config.h
CorsixTH/cmake_install.cmake
CorsixTH/config.txt
/DataRaw
/Debug
/LuaJIT
/Makefile
/SDL
/SDL_mixer-1.2.8
/cmake_install.cmake

# For CorsixTH directory and Windows
*.dll
*.exe
Thumbs.db

# This is for the CMake-generated XCode project and output
/build/
*.xcodeproj/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/

# OSX metadata
.DS_Store
!LevelEdit/src/com/corsixth/leveledit/*.xcodeproj
!LevelEdit/src/com/corsixth/leveledit/Debug
!LevelEdit/src/com/corsixth/leveledit/Release
!LevelEdit/src/com/corsixth/leveledit/MinSizeRel
!LevelEdit/src/com/corsixth/leveledit/RelWithDebInfo
!LevelEdit/src/com/corsixth/leveledit/.DS_Store
!LevelEdit/src/com/corsixth/*.xcodeproj
!LevelEdit/src/com/corsixth/Debug
!LevelEdit/src/com/corsixth/Release
!LevelEdit/src/com/corsixth/MinSizeRel
!LevelEdit/src/com/corsixth/RelWithDebInfo
!LevelEdit/src/com/corsixth/.DS_Store
!LevelEdit/src/com/*.xcodeproj
!LevelEdit/src/com/Debug
!LevelEdit/src/com/Release
!LevelEdit/src/com/MinSizeRel
!LevelEdit/src/com/RelWithDebInfo
!LevelEdit/src/com/.DS_Store

# This is for the CMake-generated Visual Studio project
*.vcxproj*
CorsixTH_Top_Level*

# For the LevelEdit project
*.class
LevelEdit/bin/
