AnimView/CMakeCache.txt
AnimView/CMakeFiles
AnimView/Makefile
AnimView/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles
CorsixTH/CMakeCache.txt
CorsixTH/CMakeFiles
CorsixTH/Makefile
CorsixTH/Src/config.h
CorsixTH/cmake_install.cmake
CorsixTH/config.txt
/DataRaw
/Debug
/LuaJIT
/Makefile
/SDL
/SDL_mixer-1.2.8
/cmake_install.cmake

# This is for the CMake-generated XCode project and output
/build/
*.xcodeproj/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/

# OSX metadata
.DS_Store
