[Desktop Entry]
Name=MapEdit
Version=0.41-r1078
Exec=/usr/games/CorsixTH/MapEdit
Comment=A Map Editor for the Theme Hospital Clone
Icon=/usr/games/CorsixTH/CorsixTH.ico
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Game;StrategyGame;
