[Desktop Entry]
Name=CorsixTH
Comment=Open source clone of Theme Hospital
Exec=corsix-th
Icon=corsix-th
Terminal=false
Type=Application
Categories=Game;StrategyGame;
